<div class="card">
  <div class="card-header">
   <h3><strong> Drones disponibles </strong></h3>  
  </div>


{{#each drone}}
    <li class="list-group-item list-group-item-danger"> Nombre: {{this.name}} </li>  
    <li class="list-group-item list-group-item-warning"> Propulsor: {{this.propellers}} </li>  
    <li class="list-group-item list-group-item-info">Máxima Velocidad: {{this.maxSpeed}} </li>
  
   <div class="d-flex flex-row align-items-center">
       
        <a href="/drones/{{this._id}}/edit">
        <button class="btn btn-outline-warning">Enlace</button> </a>

        <form action="/drones/{{this._id}}/delete" method="post">
            <button class="btn btn-outline-danger">Borrar</button>
        </form>
        <br><br><br><br>
   </div>

   
{{/each}}

</div>
